#C1{
  background-color:#E8E8E8;
  color:#0000FF;
  font-size: 25px;
}
#C2{
  background-color:#989898;
  color:#000000;
  font-size: 25px;
}
#C3{
  background-color:#505050;
  color:#FF1493;
  font-size: 25px;
}
#C4{
  background-color:#000000;
  color:#FFFF00;
  font-size: 25px;
}
#C5{
  background-color:#006400;
}
#C6{
  background-color:#2E8B57;
}
#C7{
  background-color:#32CD32;
}
#C8{
  background-color:#00FF66;
}
#C9{
  background-color:#00EF7F;
  color:#FF8C00;
  font-size: 25px;
}
#C10{
  background-color:#00FA9A;
  color:#9400D3;
  font-size: 25px;
}
#C11{
  background-color:#33FFCC;
  color:#191970;
  font-size: 25px;
}
#C12{
  background-color:#33CCFF;
  color:green;
  font-size: 25px;
}
#C13{
  background-color:#7B68EE;
}
#C14{
  background-color:#8A2BE2;
}
#C15{
  background-color:#9400D3;
}
#C16{
  background-color:purple;
}
body{
background-color:#F5DEB3;
color: black;
}
header{
background-color:	#DEB887;
width: 100%;
height: 180px;
}
footer{
background-color:#CD853F;
width: 100%;
height: 180px;
{
